* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', 'sans-serif';
    color: #575F66;
    height: 6000px;
    font-weight: 300;
    line-height: 1.66667;
}


/*----------------- common -------------*/
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 205px;
    display: inline-block;
    padding: 15px 48px;
    background: #2E80CE;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 30px;
    border: 1px solid #2E80CE;
}


.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}


.heading-lv2 {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.heading-lv3 {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}


/* ---------------Header-------------- */
.header {
    background: var(--header-bg);
    padding: 30px 0 170px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* -----------------Navbar------------------- */

.navbar__list {
    display: flex;
    gap: 42px;
}

.navbar__link,
.header-action__login {
    padding: 4px 0;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header-action__btn {
    min-width: 104px;
    padding: 8px 16px;
    color: #FFF;
    line-height: 1.75;
}

/*-------------------------Hero-------------------- */
.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
}

.hero__content {
    padding-top: 60px;
    width: 44%;
}

.hero__heading-lv1 {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #C9D2DA;
    font-size: 1.8rem;
    font-style: normal;
    margin-top: 22px;
}

.hero__contact {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.phone-number {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6667;
}

.hero__media {
    position: relative;
}

.hero__media--big {
    position: absolute;
    top: 0;
    right: 204px;
}

.hero__media--small {
    margin-top: 65px;
}

/* --------------Service----------------- */

.service {
    padding: 170px 0;
}

.service__title,
.service__desc {
    text-align: center;
    width: 468px; 
    margin-left: auto;
    margin-right: auto;
}

.service-desc {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66667; 
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__image {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
    background: url(<path-to-image>), lightgray 0px -1.3px / 100% 149.93% no-repeat;  
}

.service__list {
}

.service-item {
    display: flex;
    width: 470px;
}

.service-item:hover {
    position: relative;
    border-radius: 10px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item__icon {
    width: 60px;
    height: 60px;
    background-color: #EFF6FD;
    border-radius: 50%;
}

.service-item__title {
    margin-left: 19px;
}


.service-item p {
    margin-top: 8px;
}
 
.service__btn {
    margin-top: 55px
}