* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: 'Sora', 'sans-serif';
    color: #575F66;
    height: 6000px;
    font-weight: 300;
    line-height: 1.66667;
}


/*----------------- common -------------*/
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    min-width: 205px;
    display: inline-block;
    padding: 15px 48px;
    background: #2E80CE;
    text-align: center;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 400;
    border-radius: 30px;
    border: 1px solid #2E80CE;
}


.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}


.heading-lv2 {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.heading-lv3 {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}


/* ---------------Header-------------- */
.header {
    background: var(--header-bg);
    padding: 30px 0 170px;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2E80CE;
}

.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.logo__text {
    color: #fff;
    margin-left: 0.6em;
    line-height: 1.6em;
}

.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

/* -----------------Navbar------------------- */

.navbar__list {
    display: flex;
    gap: 42px;
}

.navbar__link,
.header-action__login {
    padding: 4px 0;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.navbar__link:hover {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active {
    color: #fff;
    text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
    position: relative;
    left: -8px;
    top: -2px;
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
    gap: 28px;
}

.header-action__btn {
    min-width: 104px;
    padding: 8px 16px;
    color: #FFF;
    line-height: 1.75;
}

/*-------------------------Hero-------------------- */
.hero {
    display: flex;
    justify-content: space-between;
    margin-top: 76px;
}

.hero__content {
    padding-top: 60px;
    width: 44%;
}

.hero__heading-lv1 {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    color: #C9D2DA;
    font-size: 1.8rem;
    font-style: normal;
    margin-top: 22px;
}

.hero__contact {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.phone-number {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.6667;
}

.hero__media {
    position: relative;
}

.hero__media--big {
    position: absolute;
    top: 0;
    right: 204px;
}

.hero__media--small {
    margin-top: 65px;
}

/* --------------Service----------------- */

.service {
    padding: 170px 0;
}

.service__title,
.service__desc {
    text-align: center;
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service-desc {
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66667;
}

.service__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.service__image {
    width: 570px;
    height: 570px;
    object-fit: cover;
    border-radius: 12px;
    background: url(<path-to-image>), lightgray 0px -1.3px / 100% 149.93% no-repeat;
}

.service__list {}

.service-item {
    display: flex;
    width: 470px;
    padding: 22px;
    background-color: #fff;
    border-radius: 10px;
    transition: 0.25s;
}

.service-item:hover {
    position: relative;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
    background-color: #2E80CE;
    color: #fff;
}

.service-item__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 60px;
    height: 60px;
    background: #EFF6FD;
    color: #10375C;
    border-radius: 50%;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-item__title {
    margin-left: 19px;
}


.service-item p {
    margin-top: 8px;
}

.service__btn {
    margin-top: 55px
}

/* ==============Guide=============== */

.guide {
    padding: 100px 0;
    background-color: #F6FBFF;
}

.guide__desc {
    width: 468px;
    margin-top: 18px;
}

.guide__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 86px;
}

.guide__item {
    width: 370px;
    padding: 43px;
    border-radius: 4px;
    background-color: #fff;
    border: 16px solid #EAF6FF;
    transition: 0.25s;
}

.guide__item:hover .guide__body--more>a {
    color: #2E80CE;
    font-weight: 400;
}

.guide__item:hover {
    transform: translateY(-16px);
    border: 16px solid #2E80CE;
}

.guide__item h3 {
    margin-top: 18px;
}

.guide__item--desc {
    margin-top: 28px;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.guide__body--more {
    margin-top: 18px;
}

.guide__body--more a {
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/*=================Feature============= */

.feature {
    padding: 170px 0;
}

.feature__row {
    display: flex;
    justify-content: space-between;
}

.feature__img {
    position: relative;
}

.feature__img--1 {
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__img--2 {
    position: absolute;
    top: 121px;
    right: -58px;
    width: 332px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
}

.feature__body {
    width: 40%;
    padding: 82px 0;
}

.feature__desc {
    margin-top: 18px;
}

.feature__btn {
    margin-top: 38px;
}

/* ----------------Member----------------- */
.member {
    text-align: center;
}

.member__btn {
    margin-top: 38px;
    padding: 15px 28px;
    font-size: 1.8rem;
    line-height: 3rem;
}


.member__list {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.member__list--item {
    transition: 0.5s;
}

.member__list--item:hover {
    transform: scale(1.1);
} 

.member__image {
    padding: 28px 4px 0;
    width: 270px;
    height: 318px;
    background-color: #EAF6FF;
    border-radius: 6px;
}

.member__image img {
    width: 262px;
    height: 290px;
    object-fit: cover;
}

.member__name {
    margin-top: 12px;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 2.8rem;
    letter-spacing: 0em;
    text-align: center;
    color: #10375C;
}

.member__info {
    font-size: 1.4rem;
}

.member__control {
    display: flex;
    justify-content: center;
    column-gap: 18px;
    align-items: center;
    margin-top: 38px;
}

.member__control-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border: 1px solid #575F66;
    color: #575F66;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.15s;
}

.member__control-btn:hover {
    color: #fff;
    border-color: #2E80CE;
    background-color: #2E80CE;
    cursor: pointer;
}